<div class="center hero-unit">
	<h1>Bine ai revenit!</h1>
	<p>
	  You've found the home page for the
	  <%= link_to "Aplicatia de evaluare a performantei", "http://intranet.carpatica.ro" %>
	  application.
	</p>
	<p>
	  <%= link_to "Sign Up Now!", '#', class: "btn btn-large btn-primary" %>
	</p>
</div>