<div class="footer">
  <small>
    <%= link_to "Aplicatia de evaluare a performantei", "http://intranet.carpatica.ro" %>
    by <%= link_to "Adrian Chira", "http://adrianchira.com" %>
  </small>
</div>